body {
  font-family: 'Open Sans', sans-serif;
  line-height:1.5em;
  margin:0;
  padding:0;
}

.container {
  margin: auto;
}

h1 {
  text-transform: uppercase;
}

/*Global styles*/
.logo {
  letter-spacing: 20px;
  font-family: sans-serif;
}
.logo b {
  display: block;
  letter-spacing: 11.2px;
  margin-left: -9px;
}

.primary-text {
  color: #FFF;
  text-shadow: 2px 2px 4px #000000;
}

.secondary-text {
  color: #D6BA29;
  text-shadow: 2px 2px 4px #000000;
}

.bg-primary {
  background: #000;
}

.bg-gray {
  background-color: #141414;
}

a {
  color: #FFF;
  text-decoration: none;
}

.link img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.inherit-height {
  height: 100%
}

.header {
  font-size: 30px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.sub-header {
  text-align: center;
  margin: 15%;
  margin-top: 0;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 2px 2px 4px #000000;
}
.btn:focus,
.btn:active:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active{
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-primary {
  color: #fff;
  background-color: #007cce;
  border-color: #2e6da4;
}
.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #23adff;
  box-shadow: 0px 0px 10px 1px rgba(35, 173, 255, 1);
}
.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary:active:focus{
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-secondary {
  color: #fff;
  background-color: #29da00;
  border-color: #4cae4c;
}
.btn-secondary:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-secondary:hover {
  color: #fff;
  background:url('../images/ctaplayen.png') no-repeat center center;
  border-color: #6cff00;
}
.btn-secondary:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-secondary:active:hover {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-secondary:active {
  background-image: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
/* /Global styles*/

/*Slider section*/
.slider {
  height: 372px;
  background-color: #000;
  text-transform: uppercase;
}

.slider .btn {
  text-transform: uppercase;
}

.slider .btn-primary {
  margin-right: 15px;
}

.slideOne {
  background:url('../images/layer_1.png') no-repeat center center;
}

.slideTwo {
  background:url('../images/layer_2.png') no-repeat center center;
}

.slideThree {
  background:url('../images/layer_3.png') no-repeat center center;
}

.slide-content {
  margin: auto 0;
}
/* /Slider section*/

/*Steps section*/
.steps .step-content:first-child {
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 30%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.steps .step-content:last-child {
  background: -moz-linear-gradient(right, rgba(0,0,0,1) 30%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.step-content {
  margin: -1px 0px;
  position: relative;
}

.step-pointer-img {
  position: absolute;
  left: -15px;
  height: 100%;
  width: 31px;
  display: block;
  background:url('../images/stepbg.png') no-repeat right center;
}

.steps .step-content:first-child .step-pointer-img{
  display: none;
}

.step-link {
  display: inline-flex;
  padding: 17px 0;
}

.step-link img {
  padding-right: 17px;
}
/* /Steps section*/

/*Info Section*/
.info-link {
  display: block;
  background:url('../images/line.png') no-repeat right center;
}

.info .info-content:last-child .info-link {
  background: none;
}
/* /Info Section*/
