body {
  font-family: 'Open Sans', sans-serif;
  line-height:1.5em;
  margin:0;
  padding:0;
}

.container {
  margin: auto;
}

h1 {
  text-transform: uppercase;
}

/*Global styles*/
.primary-text {
  color: #FFF;
}

.secondary-text {
  color: #D6BA29;
}

.bg-primary {
  background: #000;
}

.bg-gray {
  background-color: #141414;
}

a {
  text-decoration: none;
  color: #FFF;
}

.link img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* /Global styles*/

/*Slider section*/
.slider {
  background-color: #000;
  height: 372px;
}

.slideOne {
  background:url('../images/layer_1.png') no-repeat center center;
}

.slideTwo {
  background:url('../images/layer_2.png') no-repeat center center;
}

.slideThree {
  background:url('../images/layer_3.png') no-repeat center center;
}
/* /Slider section*/

/*Steps section*/
.steps .step-content:first-child {
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 30%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.steps .step-content:last-child {
  background: -moz-linear-gradient(right, rgba(0,0,0,1) 30%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(0,0,0,1) 30%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.step-content {
  margin: -1px 0px;
  position: relative;
}

.step-pointer-img {
  position: absolute;
  left: -15px;
  height: 100%;
  width: 31px;
  display: block;
  background:url('../images/stepbg.png') no-repeat right center;
}

.steps .step-content:first-child .step-pointer-img{
  display: none;
}

.step-link {
  display: inline-flex;
  padding: 17px 0;
}

.step-link img {
  padding-right: 17px;
}
/* /Steps section*/

/*Info Section*/
.info-link {
  display: block;
  background:url('../images/line.png') no-repeat right center;
}

.info .info-content:last-child .info-link {
  background: none;
}
/* /Info Section*/
